body {
    background: #333;
    color: #f2ede3;
    font-family: Calibri, Arial, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
}

.top_section {
    width: 960px;
    margin: 0 auto;
}

.bottom_section {
    background-color: #FA8072;
    width: 950px;
    height: 100px;
    margin: 0 auto;
    float: left;
    margin-left: 160px;
}
  
header {
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;  
    width: 960px;
  }
  
nav {
    width: 200px;
    height: 700px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    float: left;
    background:#f2ede3;
    color: #FA8072;
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 10px;
  }
  
section {
    width: 740px;
    height: 700px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    float: left;
    background:#f2ede3;
    color: #FA8072;
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 10px;
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  